@using MetaNotes.Internationalization.UI.Notes.Edit
@model EditNoteModel

@{
    ViewBag.Title = "Заметка";
    Layout = "~/Views/Shared/Layouts/MainLayout.cshtml";
}

@if (TempData[KeysConstants.ErrorMessageKey] != null)
{
    <div class="alert alert-danger">@TempData[KeysConstants.ErrorMessageKey]</div>
}

@if (TempData[KeysConstants.SuccessMessageKey] != null)
{
    <div class="alert alert-success">@TempData[KeysConstants.SuccessMessageKey]</div>
}

<form role="form" class="col-xs-6" action="@Url.Action("Edit","Notes")" method="post">
    @* Заголовок *@
    <div class="form-group">
        @Html.LabelFor(x => x.Title)

        @if (Model.CanEdit)
        {
            @Html.TextBoxFor(x => x.Title, new { @Class = "form-control" })
            @Html.ValidationMessageFor(x => x.Title)
        }
        else
        {
            @Html.TextBoxFor(x => x.Title, new
            {
                @Class = "form-control",
                @Disabled = "disabled"
            })
        }
    </div>

    @* Тело *@
    <div class="form-group">
        @Html.LabelFor(x => x.Body)

        @if (Model.CanEdit)
        {
            @Html.TextAreaFor(x => x.Body, new { @Class = "form-control" })
            @Html.ValidationMessageFor(x => x.Body)
        }
        else
        {
            @Html.TextAreaFor(x => x.Body, new
            {
                @Class = "form-control",
                @Disabled = "disabled"
            })
        }
    </div>

    @* Публичность *@
    <div class="form-group">
        @if (Model.CanEdit)
        {
            @Html.CheckBoxFor(x => x.IsPublic) @NotesEditUIResources.IsPublic
        }
        else
        {
            @Html.CheckBoxFor(x => x.IsPublic, new { @Disabled = "disabled" }) @NotesEditUIResources.IsPublic
        }
    </div>

    @Html.HiddenFor(x => x.NoteId)

    @if (Model.CanEdit)
    {
        <button type="submit" class="btn btn-default">Сохранить</button>
    }
</form>