@using GridMvc.Html
@using MetaNotes.Internationalization.UI.Notes.Index

@model NotesIndexModel
@{
    ViewBag.Title = "Заметки";
    Layout = "~/Views/Shared/Layouts/MainLayout.cshtml";
}

@Html.Partial("~/Views/Notes/Partial/Filter.cshtml", Model)

<div>
    @if (TempData[KeysConstants.SuccessMessageKey] != null)
    {
        <div class="alert alert-success">@TempData[KeysConstants.SuccessMessageKey]</div>
    }

    <a href="@Url.Action("Edit","Notes")" class="btn btn-default" target="_blank">
        <span class="glyphicon glyphicon-plus"></span>
        @NotesIndexUIResources.AddButton
    </a>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Grid(Model.Data).Columns(columns =>
            {
                columns.Add(true)
                    .Css("id-column")
                    .RenderValueAs(x => x.Id.ToString());

                columns.Add(x => x.Title)
                    .Sortable(true)
                    .SetWidth(200)
                    .Titled(NotesIndexUIResources.TitleColumn_Grid);

                columns.Add(x => x.CreatingDate)
                    .Sortable(true)
                    .Titled(NotesIndexUIResources.CreatingDate_Grid)
                    .RenderValueAs(x => { return x.CreatingDate.ToString() + " (UTC)"; });

                columns.Add(x => x.IsPublic)
                    .Titled(NotesIndexUIResources.IsPublic_Grid)
                    .RenderValueAs(x => MetaNotes.Converters.BoolToStringGridConverter.GetStr(x.IsPublic))
                    .Sortable(true);

                columns.Add(x => x.UserId)
                    .Sortable(true)
                    .Titled(NotesIndexUIResources.OwnerId_Grid)
                    .RenderValueAs(x => x.UserId.ToString());

                columns.Add()
                    .Sortable(false)
                    .Encoded(false)
                    .Sanitized(false)
                    .RenderValueAs(x => @<a href="@Url.Action("Edit", "Notes", new { noteId = x.Id})">Подробнее</a>);
            }).WithPaging(20)
    </div>
</div>